/*======== TABLET VIEW ========*/

@media only screen and (min-width: 688px) and (max-width: 992px) {
  html {
    font-size: 56.25%;
  }

  .heading-primary {
    font-size: 4.6rem;
  }
  /* Hero Section */

  .hero-description {
    font-size: 1.6rem;
  }

  /* Overview Section */
  .overviews {
    flex-direction: column;
    gap: 1.5rem;
  }

  .overviews-tab-container {
    background-color: transparent;
    width: 100%;
    flex-direction: row;
  }
  .overviews-tab-container > * {
    flex: 1;
    border: 2px solid #888;
  }

  .overviews-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .overviews-content {
    box-sizing: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    flex: 1;
    border-radius: 1rem;
    border: 1px solid rgb(211, 207, 207);
  }

  .overviews-img-box {
    height: 15rem;
  }

  .overviews-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .overviews-details {
    padding: 1.5rem;
  }

  .overviews-btn {
    display: inline-block;
    font-size: 1.6rem;
    border: 2px solid rgb(192, 25, 25);
    padding: 0.6rem 2rem;
    outline: none;
    border-radius: 5px;
    margin-bottom: 2rem;
    cursor: pointer;
  }

  .overviews-info {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.6rem;
  }

  /* Button Container [only visible on Tablet view] */
  .btn-container {
    display: block;
  }

  /* Match Details */
  .match-details {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*======== MOBILE VIEW ========*/

@media only screen and (max-width: 688px) {
  html {
    font-size: 50%;
  }

  .heading-primary {
    font-size: 6.8rem;
    text-align: center;
  }

  /* Hero section */
  .section-hero {
    background-color: #ca8955;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  .hero-text-box {
    align-items: center;
  }

  .hero-description {
    font-size: 2.2rem;
    text-align: center;
  }

  /* Overview Section */
  .overviews {
    flex-direction: column;
    gap: 1.5rem;
  }

  .overviews-tab-container {
    background-color: transparent;
    align-self: center;
    flex-direction: column;
  }

  .overviews-tab-container > * {
    border: 2px solid #888;
  }
  .overviews-contents {
    grid-template-columns: 45rem;
    justify-content: center;
    gap: 4rem;
  }

  /* Match Details */
  .match-details {
    grid-template-columns: 45rem;
    justify-content: center;
    gap: 4rem;
  }

  /* Footer Navigation */
  .navigation {
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
  }
}
